<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Search Bot</title>
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <a href="{{ url_for('index') }}?clear_chat=true" class="clear-chat-button">Clear Chat</a>
            <a class="space"></a>

            <div class="chat-box">
                {% for sender, message in chat_history %}
                <div class="message {{ 'user-message' if sender == 'You' else 'bot-message' }}">
                    {{ sender }}: {{ message }}
                </div>
                {% endfor %}
            </div>
            <form method="POST">
                <input type="text" name="user_input" placeholder="Type a message..." />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    
</body>
</html>
